<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- 适配全面屏 -->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />

    <!-- 适配华为(hua wei)刘海屏 -->
    <meta-data
        android:name="android.notch_support"
        android:value="true" />

    <!-- 适配小米(xiao mi)刘海屏 -->
    <meta-data
        android:name="notch.config"
        android:value="portrait|landscape" />

</manifest>